<h2>List of beerstyles</h2>
<p> Number of styles: <%= @styles.count %> </p
<p>
	<ul>
  <% @styles.each do |style| %>
    <li> <%= link_to style.beerstyle, style_path(style)%> </li>
  <% end %>
</ul>
</p>


<h3>
<%= link_to 'Add new style', new_style_path %>
</h3>


